.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  margin-bottom: 20px;
}

main {
  border: 2px solid #61dafb;
  border-radius: 10px;
  background-color: #3a3f47;
  box-shadow: 0 0 15px rgba(97, 218, 251, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21a1f1;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen h2 {
  color: #61dafb;
  margin-bottom: 20px;
}
